<h1><a href="<%= @post.url %>"><%= @post.title %></a> by <%= @post.author.username %></h1>

<section>
  <%= @post.content %>
  <% if current_user.id = @post.author_id %>
  <%= button_to "Edit Post", edit_post_url, method: :get %>
  <% end %>
</section>

<section class="post-comments">
  <h3>Comments</h3>
  <ul>
  <% @all_comments.where("parent_comment_id IS NULL").each do |comment| %>
    <li>
      <%= render 'comments/comment', comment: comment %>
    </li>
  <% end %>
  </ul>
  <%= button_to "Add Comment", new_post_comment_url(@post), method: :get %>
</section>
